*{
    padding: 0;
    margin: 0;
    font-family: cursive;
}

.container{
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

button{
    padding: .5rem;
    border-radius: 80px;
    border: 2px solid white;
    background-color: #FF8AD7;
    color: white;
}

.index-buttons{
    margin: 50px;
    width: 60%;
    height: 6rem;
}

button a{
    text-decoration: none;
    font-size: 3rem;
    color: #fff;

}
form{
    margin: 1rem 1rem 1rem 5rem;
    position: relative;
}
.labels{
    display: inline-block;
    color: #FF8AD7;
    width: 100%;
    text-align: left;
    font-size: 2rem;
    padding-bottom: 10px;
    padding-top: 20px;
}

input{
    border: none;
    background-color: #ffceee9a;
    color: white;
}

.new-inputs{
    height: 4rem;
    width: 90%;
    font-size: 50px;
    padding-left: 10px;
}

.new-buttons{
    margin: 10px;
    width: 500px;
    height: 100px;
    font-size: 2rem;
}

img{
    padding-top: 30px;
    width: 50px;
    height: 50px;
    display: inline;
}

.search-bar{
    position: relative;
    height: 70px;
    width: 90%;
    padding-left: 85px;
    font-size: 45px;
    
}

.search-icon{
    padding: 0;
    position: absolute;
    top: -35px;
    left: 10px;
    z-index: 1;
    height: 70px;
    width: 70px;
}
 .search{
    margin: .5rem;
    display: inline;
 }

 .contact{
    margin: 3rem 0 0 1.5rem;
    border: solid white;
    border-radius: 50px;
    background-color: #FF8AD7;
    padding: 50px 50px 0 50px;
    width: 85%;
    color: white;
    font-size: 2rem;
 }

 .contact p{
    padding-bottom: 50px;
 }

 .list{
    margin: 0 4rem;
 }

 #icon-1{
    position: absolute;
    top: 21vh;
    left: 68vw;
    z-index: 1;
    width: 200px;
    height: 200px;
 }

 #icon-2{
    position: absolute;
    top: 52vh;
    left: 68vw;
    z-index: 1;
    width: 200px;
    height: 200px;
 }

 #icon-3{
    position: absolute;
    top: 83vh;
    left: 68vw;
    z-index: 1;
    width: 200px;
    height: 200px;
 }